<button mat-raised-button (click)="subscribe()">SUBSCRIBE TO MOPH TOPIC</button>
<button mat-raised-button (click)="sendMsg()">SEND MESSAGE TO MOPH </button>
<button mat-raised-button (click)="unsubscribe()">UNSUBSCRIBE FROM MOPH TOPIC</button>

<div fxLayout>
    <div fxFlex="70">
        <h1>Messages:</h1>
        <p *ngFor="let message of messages">
            {{message | json}}
        </p>
    </div>
    <div>
        <h1>Status info:</h1>
        <p *ngFor="let statusMessage of status">
            {{statusMessage}}
        </p>
    </div>
</div>